<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<variable name="DirectoryLogs" value="${basedir}/logs/${shortdate}"/>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Mailkit"/>
	</extensions>


	<targets>

		<target xsi:type="File"
				name="AllFileLogs"
				fileName="${DirectoryLogs}/nlog-${shotdate}.log" 
				deleteOldFileOnStartup="true"
				concurrentWrites="true"/>

		<target name="mail" xsi:type="Mail"
			smtpServer="smtp.gmail.com"
			smtpPort="465"
			smtpAuthentication="Basic"
			smtpUserName="isip_d.v.mihaylov@mpt.ru"
			smtpPassword="hvdvyfdvonbowgki"
			enableSsl="true"
			from="isip_d.v.mihaylov@mpt.ru"
			to="isip_d.v.mihaylov@mpt.ru"
			isBodyHtml="true"
			subject="Error Log - ${level:uppercase=true}: ${logger}"
			body="${longdate} ${level:uppercase=true} ${logger} - ${message}"/>

		<target name="database" xsi:type="Database"
        connectionString="Data Source=LAPTOP-LBI8MJD2\\SQLEXPRESS;Persist Security Info=True;Database=techno;User Id=sa;Password=1234;"
        commandText="INSERT INTO LogTable (TimeStamp, Level, Logger, Message) VALUES (@timeStamp, @level, @logger, @message)">
			<parameter name="@timeStamp" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="AllFileLogs"/>
		<logger name="*" minlevel="Error" writeTo="mail"/>
		<logger name="*" minlevel="Error" writeTo="database"/>
	</rules>

</nlog>